.row{
    display:flex;
    align-items: center;
    justify-content: center;
}

.col-xs-10{
    background-color: #f3eece;
    color:#845924;
    border: solid 1px #845c24;
    padding:10px;
}

hr{
    height: 1px;
    background-color: #845c2448;
    border: none;
}